@import "../../_colors.scss";

@mixin message {
    max-width: 50%;
    min-height: 40px;
    padding: 0.75rem;
    border-radius: 20px;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    box-shadow: 0px 25px 33px -24px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    text-overflow: ellipsis;
}
.conv__messageItem {
    padding: 1rem 0 0 0;
}

.item__left {
    display: flex;
    margin-right: 10px;
    .bot__icon {
        margin-left: 10px;
    }

    & > div {
        // flex: 0 1 50%;
        .gif__container {
            width: 60%;
            height: 180px;
            margin: 2px 0 0 1rem;
            border: 1px solid $bg-color;
            border-radius: 4px;
            box-shadow: 0px 15px 33px -34px rgba(0, 0, 0, 0.8);
            & img {
                max-width: 100%;
                border-bottom: 1px solid $bg-color;
            }
            & p {
                margin: 3px 15px;
                text-align: initial;
                font-size: 14px;
            }
        }
        .card__bmi {
            width: 200px;
            min-height: 200px;
            margin: 2px 0 0 1rem;
            border-radius: 4px;
            border: 1px solid $bg-color;
            box-shadow: 0px 15px 33px -34px rgba(0, 0, 0, 0.8);
            & img {
                max-width: 100%;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                border-bottom: 1px solid $bg-color;
            }
            & p {
                margin: 8px 5px;
                font-size: 14px;
            }
            & a {
                text-overflow: ellipsis;
                width: 180px;
                overflow: hidden;
                white-space: nowrap;
                display: inline-block;
                margin-left: 5px;
            }
        }
        .video__container {
            margin: 2px 0 0 1rem;
        }
        .message__value {
            @include message();
            max-width: 100%;
            margin: 2px 0 0 0.5rem;
            color: $text-color;
            background-color: rgba(100, 241, 210, 0.5);
            text-align: initial;
        }
    }
}
.item__right {
    display: flex;
    justify-content: flex-end;
    & > div {
        .message__value {
            @include message();
            margin: 0 10px 0 0;
            max-width: 100%;
            background-color: #ececec;
            text-align: right;
            box-shadow: 0px 25px 33px -16px rgba(0, 0, 0, 0.8);
        }
    }
}

.dot__pulse {
    position: relative;
    top: 25px;
    left: -9960px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: $dot_pulse;
    color: $dot_pulse;
    box-shadow: 9999px 0 0 -5px $dot_pulse;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: 0.25s;
    display: flex;
    justify-content: flex-start;
}

.dot__pulse::before,
.dot__pulse::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: $dot_pulse;
    color: $dot_pulse;
}

.dot__pulse::before {
    box-shadow: 9984px 0 0 -5px $dot_pulse;
    animation: dotPulseBefore 1.5s infinite linear;
    animation-delay: 0s;
}

.dot__pulse::after {
    box-shadow: 10014px 0 0 -5px $dot_pulse;
    animation: dotPulseAfter 1.5s infinite linear;
    animation-delay: 0.5s;
}

@keyframes dotPulseBefore {
    0% {
        box-shadow: 9984px 0 0 -5px $dot_pulse;
    }
    30% {
        box-shadow: 9984px 0 0 2px $dot_pulse;
    }
    60%,
    100% {
        box-shadow: 9984px 0 0 -5px $dot_pulse;
    }
}

@keyframes dotPulse {
    0% {
        box-shadow: 9999px 0 0 -5px $dot_pulse;
    }
    30% {
        box-shadow: 9999px 0 0 2px $dot_pulse;
    }
    60%,
    100% {
        box-shadow: 9999px 0 0 -5px $dot_pulse;
    }
}

@keyframes dotPulseAfter {
    0% {
        box-shadow: 10014px 0 0 -5px $dot_pulse;
    }
    30% {
        box-shadow: 10014px 0 0 2px $dot_pulse;
    }
    60%,
    100% {
        box-shadow: 10014px 0 0 -5px $dot_pulse;
    }
}
