@import "../../colors";

.cardContainer {
    width: 22%;
    height: 600px;
    background-color: $card-bg;
    border-radius: 22px;
    box-shadow: $box-shadow;
    header {
        background-color: #0c0d0e;
        border-top-left-radius: 22px;
        border-top-right-radius: 22px;
        height: 60px;
        overflow: hidden;
        display: flex;
        @keyframes img {
            0% {
                transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
            }
            40% {
                transform: translate3d(0, 30%, 0) scale3d(0.7, 1.5, 1);
            }
            100% {
                transform: translate3d(0, 100%, 0) scale3d(1.5, 0.7, 1);
            }
        }
        img {
            transform-origin: 50% 50%;
            animation: img 0.5s linear alternate infinite;
            margin-left: 10px;
        }

        & span {
            color: $white;
            padding: 0 10px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 100%;
            font-size: 14px;
            font-weight: 600;
        }
    }
    .messages {
        height: calc(100% - 120px);
        padding: 10px 0;
        overflow-y: auto;
    }
    .inputMessanger {
        height: 50px;
        display: flex;
        align-items: center;
    }
}
