@import "../../colors";

.card__container {
    width: 22%;
    height: 600px;
    background-color: $card-bg;
    border-radius: 22px;
    box-shadow: $box-shadow;
    position: relative;
    header {
        background-color: #0c0d0e;
        border-top-left-radius: 22px;
        border-top-right-radius: 22px;
        height: 60px;
        overflow: hidden;
        display: flex;
        .bot_icon {
            & .toll_tip {
                display: none;
                background-color: #ffffff;
                width: 200px;
                height: 60px;
                z-index: 999;
                position: absolute;
                top: -60px;
                left: -190px;
                color: #0c0d0e;
                border-radius: 8px;
                &::after {
                    content: "";
                    width: 0;
                    height: 0;
                    border-top: 8px solid #ffffff;
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    background-color: transparent;
                    position: absolute;
                    right: -5px;
                    bottom: -2px;
                    transform: rotate(-40deg);
                }
            }

            @keyframes img {
                0% {
                    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
                }
                40% {
                    transform: translate3d(0, 30%, 0) scale3d(0.7, 1.5, 1);
                }
                100% {
                    transform: translate3d(0, 100%, 0) scale3d(1.5, 0.7, 1);
                }
            }
            img {
                transform-origin: 50% 50%;
                animation: img 0.5s linear alternate infinite;
                margin-left: 10px;
                width: 40px;
                height: 40px;
                cursor: pointer;
            }
            &:hover {
                .bot_name {
                    color: #0c0d0e;
                    padding: 0;
                }
                .toll_tip {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: justify;
                }
            }
        }
        & > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            & span:first-child {
                color: $white;
                padding: 0 10px;
                display: flex;
                justify-content: flex-start;
                font-size: 14px;
                font-weight: 600;
            }
            & span:nth-child(2) {
                color: $white;
                padding: 0 10px;
                display: flex;
                justify-content: flex-start;
                font-size: 12px;
                font-weight: 600;
            }
        }
    }
    .messages {
        height: calc(100% - 120px);
        padding: 10px 0;
        overflow-y: auto;
    }
    .input__messanger {
        height: 50px;
        display: flex;
        align-items: center;
    }
}
