@import "../../colors";

.bot__container {
    width: 250px;
    height: 300px;
    position: relative;
    .bot__head {
        position: absolute;
        top: 20px;
        left: 10px;
        width: 150px;
        height: 60px;
        background-color: $bot-primary-color;
        border-radius: 25px;
        transform: rotate(-2deg);
        transition: all 300ms;
        .bot__inner__head {
            position: absolute;
            top: 10px;
            left: 15px;
            width: 120px;
            height: 40px;
            background-color: $bot-secondary-color;
            border-radius: 10px;
            .bot__eye {
                position: absolute;
                border: 5px solid $bot-primary-color;
                border-radius: 100%;
                width: 30px;
                height: 30px;
                .bot__eye__ball {
                    background-color: #434343;
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                }
            }
            .bot__eye__left {
                top: 5px;
                left: 20px;
            }
            .bot__eye__right {
                top: 5px;
                left: 80px;
            }
        }
    }
    .bot__neck1 {
        position: absolute;
        top: 75px;
        left: 85px;
        background-color: $bot-secondary-color;
        width: 12px;
        height: 15px;
        z-index: -999;
        transform: rotate(-8deg);
    }
    .bot__neck2 {
        position: absolute;
        top: 85px;
        left: 85.5px;
        background-color: $bot-secondary-color;
        width: 11px;
        height: 20px;
        transform: rotate(10deg);
        z-index: -99;
        border-top-right-radius: 4px;
    }
    .bot__body__wrapper {
        position: absolute;
        top: 90px;
        left: 25px;
        width: 120px;
        height: 120px;
        border-width: 0 10px 110px 18px;
        border-style: solid;
        border-color: $bot-primary-color transparent;
        border-radius: 4px;
    }

    .bot__dot {
        background-color: $bot-secondary-color;
        width: 12px;
        height: 12px;
        border-radius: 100%;
    }
    .bot__dot1 {
        position: absolute;
        top: 150px;
        left: 50px;
    }
    .bot__dot2 {
        position: absolute;
        top: 150px;
        left: 70px;
    }

    .bot__leg {
        width: 15px;
        height: 35px;
        background-color: $bot-secondary-color;
    }
    .bot__leg1 {
        position: absolute;
        bottom: 55px;
        left: 60px;
    }
    .bot__leg2 {
        position: absolute;
        bottom: 56px;
        left: 100px;
        transform: rotate(-5deg);
    }
    .bot__shoe {
        width: 35px;
        height: 25px;
    }
    .bot__shoe1 {
        position: absolute;
        bottom: 48px;
        left: 42px;
        border-width: 0 25px 20px 18px;
        border-style: solid;
        border-color: $bot-primary-color transparent;
        border-radius: 10px 5px 20px 10px;
    }
    .bot__shoe2 {
        position: absolute;
        bottom: 48px;
        left: 83px;
        border-width: 0 25px 20px 18px;
        border-style: solid;
        border-color: $bot-primary-color transparent;
        border-radius: 10px 5px 20px 10px;
        transform: rotate(-5deg);
    }
    .bot__arm {
        height: 12px;
        width: 100px;
        position: absolute;
    }
    .bot__arm__left {
        top: 100px;
        left: -53px;
        z-index: -999;
        transform: rotate(30deg);
    }
    .bot__arm__right {
        top: 100px;
        left: 115px;
        z-index: -999;
        transform: rotate(-30deg);
    }
    .bot__arm:before {
        content: "";
        height: 100%;
        width: 51%;
        position: absolute;
        top: 10%;
        left: 12%;
        background-color: $bot-secondary-color;
        transform: skew(0deg, 1deg);
    }
    .bot__arm:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        background-color: $bot-secondary-color;
        transform: skew(0deg, -4deg);
    }

    .bot__finger {
        border: 15px;
        border-style: solid;
        border-color: $bot-primary-color;
        width: 50px;
        height: 35px;
        left: 50%;
        margin-left: -7em;
        top: -12em;
        border-top-left-radius: 7em;
        border-top-right-radius: 7em;
        border-bottom: none;
    }
    .bot__finger__left {
        position: absolute;
        top: 65px;
        left: 40px;
        transform: rotate(140deg);
    }
    .bot__finger__right {
        position: absolute;
        top: 55px;
        left: 310px;
        transform: rotate(-140deg);
    }

    .bot__center__box {
        border: 5px solid $bot-secondary-color;
        width: 80px;
        height: 30px;
        position: absolute;
        top: 110px;
        left: 50px;
        background: #cccccc;
        text-align: center;
        color: $bot-secondary-color;
        font-weight: bold;
    }
    &:hover {
        .bot__head {
            transform: skew(6deg);
        }
    }
}
